name: Build ISO

on:
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build ISOs
        uses: jasonn3/build-container-installer@v1.2.4
        with:
          image_name: slateos
          image_repo: ghcr.io/slate-os
          image_tag: latest
          variant: silverblue
          version: 41
          iso_name: slateos-latest.iso # Naming it explicitly helps us find it
      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: slateos-latest-iso
          path: |
            build/*.iso
            build/*.sha256
          if-no-files-found: warn
          compression-level: 0
