name: Build ISO

on:
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: List files (Debug)
        run: |
          echo "Listing all files in workspace:"
          find . -maxdepth 3 -not -path '*/.*'
      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: slateos-latest
          path: |
            build/deploy.iso
            build/deploy.iso-CHECKSUM
          if-no-files-found: warn
          compression-level: 0
